rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'info.colormytrip@gmail.com';
    }

    // Allow admin to read/write everything (all fields) in this Firestore.
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}

